In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
oil = pd.read_csv('CrudeOil.csv')
oil.head()

           Date    Open    High     Low   Close  Adj Close    Volume
0  Jul 01, 2022  106.01  109.34  104.56  108.43     108.43  3,05,338
1  Jun 30, 2022  109.70  110.45  105.10  105.76     105.76  3,62,890
2  Jun 29, 2022  111.86  114.05  109.22  109.78     109.78  3,22,060
3  Jun 28, 2022  110.18  112.22  109.62  111.76     111.76  3,06,748
4  Jun 27, 2022  107.22  110.54  105.60  109.57     109.57  2,82,914

In [4]:
oil.isnull().any()

Date         True
Open         True
High         True
Low          True
Close        True
Adj Close    True
Volume       True
dtype: bool

In [6]:
oil.isnull().sum()

Date         3141
Open         3141
High         3141
Low          3141
Close        3141
Adj Close    3141
Volume       3141
dtype: int64

In [7]:
oil.dropna(axis=0,inplace=True)

In [8]:
oil.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [11]:
data_oil=oil.reset_index()['Close']
data_oil

0       108.43
1       105.76
2       109.78
3       111.76
4       109.57
         ...
1883     48.79
1884     48.65
1885     47.93
1886     50.04
1887     52.69
Name: Close, Length: 1888, dtype: float64

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
data_oil=scaler.fit_transform(np.array(data_oil).reshape(-1,1))

In [13]:
data_oil

array([[0.90534928],
       [0.88879936],
       [0.91371723],
       ...,
       [0.53034154],
       [0.54342032],
       [0.55984628]])